* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This is an essential addition */
}

body {
    background-color: black;
    margin: 30px;
    color: white;
    
    
}

.title {
    
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.main-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Added this to ensure the image scales nicely */
    height: auto; /* Added this to maintain aspect ratio */
    
}

.main-menu {
    text-align: center;
}

.main-menu ul {
    /* 1. Sets the UL to an inline block so it can be centered by the parent's text-align */
    display: inline-block;
    /* 2. Centers the UL itself within the .main-menu div */
    margin: 0 auto; 
    /* 3. Re-aligns the text and bullets to the left *within* the centered UL */
    text-align: left; 
    /* 4. Removes default browser padding on the UL so it sits flush */
    padding-left: 0; 
}

.link-text {
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.recipe-header {
    text-align: center;
    display: block;
    margin:20px;
    font-size: 25px;
    
}

.para {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    font-style: italic;
    font-size: 23px;
}

.recipe-ingredients {
    text-align: center;
    font-size: 25px;
}



.recipe-ingredients ul {
    /* 1. Sets the UL to an inline block so it can be centered by the parent's text-align */
    display: inline-block;
    /* 2. Centers the UL itself within the .main-menu div */
    margin: 0 auto; 
    /* 3. Re-aligns the text and bullets to the left *within* the centered UL */
    text-align: left; 
    /* 4. Removes default browser padding on the UL so it sits flush */
    padding-left: 0; 
}

.recipe-steps {
    text-align: center;
    font-size: 25px;
    
}



.recipe-steps ol {
    /* 1. Sets the UL to an inline block so it can be centered by the parent's text-align */
    display: inline-block;
    /* 2. Centers the UL itself within the .main-menu div */
    margin: 0 auto; 
    /* 3. Re-aligns the text and bullets to the left *within* the centered UL */
    text-align: left; 
    /* 4. Removes default browser padding on the UL so it sits flush */
    padding-left: 0; 
    max-width: 800px;
    padding-bottom: 50px;
}

.home {
    color: White;
    font-size: 30px;
}